/* red-hat-display-500 */
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/red-hat-display-v21-latin-500.woff2")
        format("woff2");
}

/* red-hat-display-700 */
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/red-hat-display-v21-latin-700.woff2")
        format("woff2");
}

/* red-hat-display-900 */
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/red-hat-display-v21-latin-900.woff2")
        format("woff2");
}

:root {
    /* Colors */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    --font-primary: "Red Hat Display", sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;

    /* Font sizes */
    --fs-28: clamp(1.375rem, 1.1089rem + 1.0017vw, 1.75rem);
    --fs-16: clamp(0.875rem, 0.7863rem + 0.3339vw, 1rem);
    --fs-14: 0.875rem;

    /* Spacing */
    --s--80: -5rem;
    --s-12: 0.75rem;
    --s-20: 1.25rem;
    --s-24: clamp(1.125rem, 0.8589rem + 1.0017vw, 1.5rem);
    --s-28: clamp(1.25rem, 0.8952rem + 1.3356vw, 1.75rem);
    --s-32: 2rem;
    --s-42: clamp(1.75rem, 1.1292rem + 2.3372vw, 2.625rem);
    --s-48: clamp(1.5rem, 0.4357rem + 4.0067vw, 3rem);
    --s-32-48: clamp(2rem, 1.2905rem + 2.6711vw, 3rem);
    --s-16-20: clamp(1rem, 0.8226rem + 0.6678vw, 1.25rem);
    --s-24-32: clamp(1.5rem, 1.1452rem + 1.3356vw, 2rem);

    /* Border radius */
    --radius-sm: 0.75em; /* 12px */
    --radius-md: 1.25em; /* 20px */

    /* Shadows */
    --shadow-elevate: 0 1.25rem 1.25rem rgba(56, 42, 225, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--font-primary);
    font-weight: var(--fw-500);
    color: var(--gray-600);
    line-height: 1.6;
    background-color: var(--blue-100);
    overflow: hidden;
}

/* https://blog.logrocket.com/creating-infinite-css-background-image-loop/ */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 437px;
    background: url(./assets/svgs/pattern-background-desktop.svg) repeat-x;
    z-index: -1;
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

main {
    height: 100dvh;
    display: grid;
    place-items: center;
    place-content: center;
    margin-inline: var(--s-32);
}

.card {
    max-width: 450px;
    width: 100%;
    text-align: center;
    border-radius: var(--radius-md);
    background-color: var(--white);
    box-shadow: var(--shadow-elevate);
}

.card-image img {
    object-fit: cover;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.card-info {
    padding: var(--s-42) var(--s-48) var(--s-32-48);
}

.card-title {
    font-weight: var(--fw-900);
    color: var(--blue-950);
    font-size: var(--fs-28);
    margin-bottom: var(--s-12);
}

.card-content {
    letter-spacing: 0.02em;
    margin-bottom: var(--s-20);
}

.card-plan-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-50);
    padding: var(--s-24);
    border-radius: var(--radius-sm);
    margin-bottom: var(--s-24-32);
}

.card-plan-type {
    display: flex;
    align-items: center;
    gap: var(--s-16-20);
}

.flip-card {
    background-color: var(--blue-100);
    border-radius: 50%;
    perspective: 1000px;
}

.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card-plan-title {
    font-weight: var(--fw-900);
    color: var(--blue-950);
    font-size: var(--fs-16);
}

.card-change-plan {
    color: var(--blue-700);
    font-weight: var(--fw-700);
    font-size: var(--fs-14);
    border-block-end: 2px solid var(--blue-700);
}

.card-change-plan:hover {
    transform: scale(1.05);
    border-block-end: 1px solid hsl(245, 75%, 52%, 0);
}

.card-action-section {
    display: flex;
    flex-direction: column;
    gap: var(--s-12);
    font-size: var(--fs-16);
}

.card-payment-button {
    background-color: var(--blue-700);
    color: var(--blue-50);
    padding-block: var(--s-12);
    border-radius: var(--radius-sm);
    font-weight: var(--fw-900);
}

.card-payment-button:hover {
    box-shadow: var(--shadow-elevate);
}

.card-cancel-order {
    color: var(--gray-600);
    font-weight: var(--fw-900);
    padding-block: var(--s-12);
    border-radius: var(--radius-sm);
    border: 1px solid hsl(245, 75%, 52%, 0);
}

.card-cancel-order:active,
.card-cancel-order:hover {
    box-shadow: var(--shadow-elevate);
}

.card-cancel-order:hover {
    border: 1px solid var(--blue-700);
}

.attribution {
    margin-bottom: var(--s--80);
}

.attribution a {
    color: var(--blue-700);
}

.attribution a::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: var(--blue-700);
}

.attribution a:hover::after {
    width: 100%;
}

/* https://www.joshwcomeau.com/snippets/react-components/visually-hidden/ */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}


@media screen and (max-width: 425px) {
    main {
        padding-block: var(--s-32);
    }
}


@media (prefers-reduced-motion: no-preference) {
    a::after,
    .card-cancel-order,
    .card-payment-button {
        transition: 0.3s ease-in-out;
    }
    /* https://blog.logrocket.com/creating-infinite-css-background-image-loop/ */
    body::before {
        animation: wave 12s linear infinite;
    }
    .card-change-plan {
        transition: border-block-end 0.3s ease, transform 0.3s ease;
    }
    .flip-card-inner {
        transition: transform 0.5s;
    }
}

/* https://blog.logrocket.com/creating-infinite-css-background-image-loop/ */
@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1440px);
    }
}

/* Reference image */
/* body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./reference/desktop-design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: 99999999999999999;
} */